[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/hallison/vim-markdown
[submodule "vim/bundle/scrollcolors"]
	path = vim/bundle/scrollcolors
	url = git://github.com/vim-scripts/ScrollColors
[submodule "vim/bundle/guicolorscheme"]
	path = vim/bundle/guicolorscheme
	url = git://github.com/thinca/vim-guicolorscheme
[submodule "vim/bundle/gnupg"]
	path = vim/bundle/gnupg
	url = git://github.com/vim-scripts/gnupg.vim
[submodule "vim/bundle/lesscss"]
	path = vim/bundle/lesscss
  url = https://github.com/KohPoll/vim-less
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/symbols"]
	path = vim/bundle/symbols
	url = https://github.com/mattsacks/vim-symbols
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim/bundle/gutter"]
	path = vim/bundle/gutter
	url = https://github.com/airblade/vim-gitgutter
